.hellopleasealignformeThanks{
    text-align: center;
}
.introductionofbraydenjamesCutler{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hellopleasemoveimagetocenterthankyouveryMuch{
padding-left: 35%;
width: 600px;
height: 600px;
}
body{
    background-color: #2C2037;
    color: white;
}
.hellothisismywebsiteYes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.editingthewelcomeimagethatisnoteventherightbackdropcoloramiasecretgeniusorsecereltyamoronwewillneverKnow{
height: 100px;
width: 200px;
padding-left: 45%;
}
.linksCenters{
    padding: 10px;
}
.stellarisimagealignPlease{
    padding-left: 46%;
    width: 150px;
    height: 150px;
}
.fonttextlookgoodThanks{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}